.introduction {
  height: 100vh;
  width: 100%;
  background-position: 100% 100%;
  background-size: cover;
}

.pic {
  width: 37%;
    /* padding: 30px; */
    border-radius: 50%;
    height: 285px;
}
.introductionnn {
  width: 100%;
  height: 50%;
}

.fullstack {
  font-size: 22px;
  font-weight: 500;
}
.nam {
  font-size: large;
}
@media (max-width: 750px) {
  nam {
    font-size: 12px;;
  }
}


div.font-bold {
  margin-left: 18px;
}

div.font-bold.text-end {
  margin-right: 18px;
}
@media (max-width: 750px) {
  .pic {
    width: 200px;
    height: 200px;
  left: 50%;
top:8%;
   position: absolute;
    border-radius: 100px;
  }
}
.introductionn {
  height: 100vh;
  width: 100%;
}
.introduction p {
  color: white;
  width: 600px;
}
.introduction div h1 {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.466);
  font-size: 100px;
}
.introduction div h1:hover {
  color: white;
  cursor: default;
  text-shadow: 0px 0px 10px #fff;
}

@media (max-width: 750px) {
  .primary-button {
    background-color: white;
    height: 15px;
    border-radius: 15px;
    border: none;
    width: 15%;
  }
}

.primary-button {
  background-color: white;
  height: 45px;
  border-radius: 25px;
  border: none;
  width: 50%;
}

.primary-button a {
  text-decoration: none;
  color: black;
}

.devstack {
  color: black;
  transition: all 0.5s;
  padding: 10px;
}
.devstack:hover {
  color: white;
  background-color: #001220;
  transform: scale(1.05);
  box-shadow: none;
}

.who-is-aishwarya {
  background-size: 100% 100%;
  height: 85vh;
  color: white;
  transition: all 0.5s;
  overflow: none !important;
}
.bo {
  width: 100%;
  height: 100%;
}

@media (max-width: 750px) {
  .bo {
    width: 20%;
    height: 20%;
  }
}
@media (max-width: 750px) {
  .who-is-aishwarya {
    background-size: 40% 40%;
    height: 85vh;
    color: white;
    transition: all 0.5s;
    overflow: none !important;
  }
}
/* .who-is-aishwarya:hover{
   transform: scale(1.05);
   overflow: none !important;
} */
pre {
  font-size: 18px;
  font-family: "Montserrat", sans-serif !important;
}

@media (max-width: 750px) {
  .introduction div h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.466);
    font-size: 40px;
   
  }


  
  .primary-button {
    background-color: white;
    height: 45px;
    border-radius: 25px;
    border: none;
    width: auto;
    padding: 5px 15px;
  }

  .who-is-aishwarya {
    background-size: 200% 100%;
    height: 100vh;
    color: white;
    background-position: center;
  }
  pre {
    font-size: 14px;
    font-family: "Montserrat", sans-serif !important;
  }
}

.mern {
  font-size: large;
}

@media (max-width: 750px) {
  .mern {
    font-size: 12px;; 
  }
  
}

.spaan {
  font-size: medium;
}

@media (max-width: 750px) {
  .spaan {
    font-size: 12px;;
  }
  
}